/build
/bin
/Client/llfcchat/.qtc_clangd
/Client/llfcchat/bin
/Client/llfcchat/debug
/Client/llfcchat/release
/Client/llfcchat/build
/Client/llfcchat/.qmake.stash
/VarifyServer/node_modules
/.clangd
/.cache
compile_commands.json
