/build
/bin
/Client/AnyoneChat/.qtc_clangd
/Client/AnyoneChat/bin
/Client/AnyoneChat/debug
/Client/AnyoneChat/release
/Client/AnyoneChat/.qtc_clangd
/Client/AnyoneChat/.qmake.stash
/Client/AnyoneChat/ui_*.h
Makefile.Debug
Makefile.Release

Server/*/*.pb.*
/VarifyServer/node_modules
/.clangd
/.cache
compile_commands.json
